flow-fuse-ak/node-red/data/flows.json
[{"id":"tab-iot","type":"tab","label":"IoT Dashboard","disabled":false},{"id":"mqtt-broker-config","type":"mqtt-broker","name":"Mosquitto Local","broker":"mosquitto","port":"1883","clientid":"node-red-client","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true},{"id":"n-ui-base","type":"ui-base","name":"IoT UI","path":"/dashboard","includeClientData":true,"acceptsClientConfig":[],"showPathInSidebar":false,"navigationStyle":"default","titleBarStyle":"default"},{"id":"n-ui-theme","type":"ui-theme","name":"Default","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"n-ui-page","type":"ui-page","name":"Sensores IoT","ui":"n-ui-base","path":"/sensores","icon":"home","layout":"grid","theme":"n-ui-theme","breakpoints":[{"name":"Default","px":0,"cols":3},{"name":"Tablet","px":576,"cols":6},{"name":"Desktop","px":1024,"cols":12}],"order":1,"className":"","visible":true},{"id":"n-group-temp","type":"ui-group","name":"Temperatura","page":"n-ui-page","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":true},{"id":"n-group-umid","type":"ui-group","name":"Umidade","page":"n-ui-page","width":"6","height":"1","order":2,"showTitle":true,"className":"","visible":true},{"id":"n-group-ctrl","type":"ui-group","name":"Controle","page":"n-ui-page","width":"12","height":"1","order":3,"showTitle":true,"className":"","visible":true},{"id":"mqtt-in-temp","type":"mqtt in","z":"tab-iot","name":"Recebe Temperatura","topic":"iot/+/temperatura","qos":"1","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":80,"wires":[["fn-temp"]]},{"id":"fn-temp","type":"function","z":"tab-iot","name":"Processa Temperatura","func":"var device = msg.topic.split('/')[1] || 'device';\nvar p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch(e){} }\nvar val = typeof p === 'object' ? (p.value || p.temperatura) : p;\nmsg.payload = parseFloat(val);\nmsg.topic = device;\nif (msg.payload > 35) node.warn('ALERTA: Temp alta em ' + device + ': ' + msg.payload + '°C');\nreturn msg;","outputs":1,"x":340,"y":80,"wires":[["gauge-temp","chart-temp","dbg-temp"]]},{"id":"gauge-temp","type":"ui-gauge","z":"tab-iot","name":"Gauge Temperatura","group":"n-group-temp","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Temperatura (°C)","units":"°C","icon":"","prefix":"","suffix":"°C","segments":[{"from":0,"color":"#00b500"},{"from":25,"color":"#e6e600"},{"from":35,"color":"#ca3838"}],"min":0,"max":50,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"x":580,"y":60,"wires":[[]]},{"id":"chart-temp","type":"ui-chart","z":"tab-iot","group":"n-group-temp","name":"Histórico Temperatura","label":"Temperatura","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"0","ymax":"50","action":"append","pointRadius":3,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":100,"colors":["#0094CE","#FF7FAA","#EA5F89","#9D2EC5"],"width":6,"height":4,"x":580,"y":100,"wires":[[]]},{"id":"dbg-temp","type":"debug","z":"tab-iot","name":"Debug Temp","active":true,"tosidebar":true,"complete":"payload","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"mqtt-in-umid","type":"mqtt in","z":"tab-iot","name":"Recebe Umidade","topic":"iot/+/umidade","qos":"1","datatype":"json","broker":"mqtt-broker-config","inputs":0,"x":120,"y":220,"wires":[["fn-umid"]]},{"id":"fn-umid","type":"function","z":"tab-iot","name":"Processa Umidade","func":"var device = msg.topic.split('/')[1] || 'device';\nvar p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch(e){} }\nvar val = typeof p === 'object' ? (p.value || p.umidade) : p;\nmsg.payload = parseFloat(val);\nmsg.topic = device;\nreturn msg;","outputs":1,"x":340,"y":220,"wires":[["gauge-umid","chart-umid","e5e49e1903ab7e57"]]},{"id":"gauge-umid","type":"ui-gauge","z":"tab-iot","name":"Gauge Umidade","group":"n-group-umid","order":1,"width":3,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"Umidade (%)","units":"%","icon":"","prefix":"","suffix":"%","segments":[{"from":0,"color":"#ca3838"},{"from":30,"color":"#e6e600"},{"from":60,"color":"#00b500"}],"min":0,"max":100,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"x":580,"y":200,"wires":[[]]},{"id":"chart-umid","type":"ui-chart","z":"tab-iot","group":"n-group-umid","name":"Histórico Umidade","label":"Umidade","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"0","ymax":"100","action":"append","pointRadius":3,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":100,"colors":["#17becf","#0094CE"],"width":6,"height":4,"x":580,"y":240,"wires":[[]]},{"id":"btn-on","type":"ui-button","z":"tab-iot","group":"n-group-ctrl","name":"Ligar","label":"▶ Ligar","order":1,"width":3,"height":1,"emulateClick":false,"tooltip":"Envia ON","color":"white","bgcolor":"#00b500","className":"","icon":"","iconPosition":"left","payload":"{\"command\":\"ON\"}","payloadType":"json","topic":"iot/dispositivo1/controle","topicType":"str","x":120,"y":360,"wires":[["mqtt-out-ctrl"]]},{"id":"btn-off","type":"ui-button","z":"tab-iot","group":"n-group-ctrl","name":"Desligar","label":"⏹ Desligar","order":2,"width":3,"height":1,"emulateClick":false,"tooltip":"Envia OFF","color":"white","bgcolor":"#ca3838","className":"","icon":"","iconPosition":"left","payload":"{\"command\":\"OFF\"}","payloadType":"json","topic":"iot/dispositivo1/controle","topicType":"str","x":120,"y":400,"wires":[["mqtt-out-ctrl"]]},{"id":"mqtt-out-ctrl","type":"mqtt out","z":"tab-iot","name":"Publica Controle","topic":"","qos":"1","retain":"false","broker":"mqtt-broker-config","x":360,"y":380,"wires":[]},{"id":"inject-sim","type":"inject","z":"tab-iot","name":"Simula ESP32 (5s)","repeat":"5","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["fn-sim"]]},{"id":"fn-sim","type":"function","z":"tab-iot","name":"Gera dados simulados","func":"var temp = parseFloat((20 + Math.random() * 20).toFixed(1));\nvar umid = parseFloat((40 + Math.random() * 50).toFixed(1));\nvar t = { topic: 'iot/esp32-sala/temperatura', payload: JSON.stringify({ value: temp, unit: 'C', device: 'esp32-sala' }) };\nvar u = { topic: 'iot/esp32-sala/umidade',    payload: JSON.stringify({ value: umid, unit: '%', device: 'esp32-sala' }) };\nreturn [t, u];","outputs":2,"x":360,"y":500,"wires":[["mqtt-out-sim-t"],["mqtt-out-sim-u"]]},{"id":"mqtt-out-sim-t","type":"mqtt out","z":"tab-iot","name":"","topic":"","qos":"0","retain":"false","broker":"mqtt-broker-config","x":600,"y":480,"wires":[]},{"id":"mqtt-out-sim-u","type":"mqtt out","z":"tab-iot","name":"","topic":"","qos":"0","retain":"false","broker":"mqtt-broker-config","x":600,"y":520,"wires":[]},{"id":"e5e49e1903ab7e57","type":"debug","z":"tab-iot","name":"Debug Umidade","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":280,"wires":[]}]